= wrap_layout :layout do
  -# %ul.categories
  -#   %li
  -#     %a.categoryTag.javascript{:href => "/tag/comunidade"}
  -#       comunidade
  -#   %li
  -#     %a.categoryTag.processos{:href => "/categories/processos"}
  -#       processos
  -#   %li
  -#     %a.categoryTag.frontend{:href => "/categories/frontend"}
  -#       frontend
  -#   %li
  -#     %a.categoryTag.Terra{:href => "/categories/terra"}
  -#       Terra
  = tags

  %article.postContent
    %h1.post-title= current_page.data.title
    = yield
    = disqus
